{% extends 'main/base.html' %}

{% block title %}
Про нас
{% endblock %}

{% block content %}
    <h1>Страница про нас</h1>
    <p>В нашей организации, как собственно и на этой странице собираются хулиганы и хулиганят за нас и наших Бесто Фрэндо. Стало скучно одному? Не с кем выступить против сшитых из невесть пойми чего злыдней? Ты обратился точно по адресу, друг мой. Здесь ты найдешь своих френдо, ответив всего на один вопрос, и ты знаешь, какой. Не медли и скорее присоединяйся к нам! Мы представляем из себя ООО, нацеленное на объединение мужских и не только сердец. Мы помогаем найти вам своего пусть не партнера, но спутника ванс энд фор олл.</p>
    <section class="py-5 text-center container">
   <img src="https://chakiris.club/uploads/posts/2022-11/1669082092_chakiris-club-p-magicheskaya-bitva-shkola-instagram-3.jpg" width="70%" alt="Banner Image" class="img-fluid">
  </section>
{% endblock %}
