{% extends 'main/base.html' %}

{% block title %}
Изменение цен
{% endblock %}

{% block content %}
    <h1>Изменение цен</h1>
    <p>Обновление цен с 01.12.2023 ООО "Besto Friendo" в связи с потерей деда. Начиная с декабря текущего года, цены на бро "Аой Тодо", "Саторо Годжо" и "Панда" были повышены на 10% в связи с невосполнимой потерей деда. Теперь их осталось лишь 2...</p>
    <section class="py-5 text-center container">
   <img src="https://i.pinimg.com/1200x/f2/8b/b7/f28bb77435b712365c99d3312de4bbac.jpg" width="70%" alt="Banner Image" class="img-fluid">
  </section>
{% endblock %}