{% extends 'main/base.html' %}

{% block title %}
День рождения
{% endblock %}

{% block content %}
    <h1>День рождения</h1>
    <p>Днем рождения нашей организации принято считать день, когда назойливая чашка решила бросить вызов великому и непревзойденному Саторо Годжо, за что и была отправлена в нокаут без права на реабилитацию. Этот день мы празднуем с большим размахом, организуя банкет 22 февраля каждого года.</p>
    <section class="py-5 text-center container">
   <img src="https://i.ytimg.com/vi/l5GTNFYwag8/hqdefault.jpg" width="70%" alt="Banner Image" class="img-fluid">
  </section>
{% endblock %}