{% extends 'main/base.html' %}

{% block title %}
Праздники
{% endblock %}

{% block content %}
    <h1>Наши праздники</h1>
    <p>Помимо дня рождения, в нашей компании также празднуют и другие праздники, как например  день солнечного дедостояния, воскрешение пожухшей старости и пир на мрачном холме.</p>
    <section class="py-5 text-center container">
   <img src="https://i.pinimg.com/736x/0d/05/55/0d05556e908d4e48131ab45664bf4e48.jpg" width="70%" alt="Banner Image" class="img-fluid">
  </section>
{% endblock %}